Source: gz-rendering
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               doxygen,
               pkgconf,
               debhelper (>= 11),
               freeglut3-dev,
               libglew-dev,
               libfreeimage-dev,
               libgz-cmake-dev,
               libgz-common-events-dev,
               libgz-common-geospatial-dev,
               libgz-common-graphics-dev,
               libgz-common-profiler-dev,
               libgz-math-dev,
               libgz-math-eigen3-dev,
               libgz-plugin-dev,
               libgz-utils-dev,
               libogre-1.9-dev,
               libogre-next-2.3-dev,
               libvulkan-dev
Vcs-Browser: https://github.com/gazebosim/gz-rendering
Vcs-Git: https://github.com/gazebo-release/gz-rotary-rendering-release
Standards-Version: 4.5.1
Homepage: http://gazebosim.org/

Package: libgz-rendering
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libgz-rendering-generic
Conflicts: libgz-rendering-generic, libgz-rendering6, libgz-rendering8, libgz-rendering9, libgz-rendering10
Replaces: libgz-rendering6, libgz-rendering8, libgz-rendering9, libgz-rendering10
Multi-Arch: same
Description: Gazebo Rendering classes and functions for robot apps - Shared library
 Gazebo Rendering is a C++ library designed to provide an abstraction for
 different rendering engines. It offers unified APIs for creating 3D graphics
 applications.  Gazebo Rendering is a component in the Gazebo framework, a
 set of libraries designed to rapidly develop robot applications.
 .
 Main shared library

# Only for the examples:
#
#        libfreeimage-dev,
#        freeglut3-dev,
#        libglew-dev,

Package: libgz-rendering-core-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake-dev,
         libgz-common-events-dev,
         libgz-common-geospatial-dev,
         libgz-common-graphics-dev,
         libgz-math-dev,
         libgz-math-eigen3-dev,
         libgz-plugin-dev,
         libgz-rendering (= ${binary:Version}),
         libgz-utils-dev,
         ${misc:Depends}
Provides: libgz-rendering-core-dev-generic
Conflicts: libgz-rendering-core-dev-generic, libgz-rendering6-core-dev, libgz-rendering8-core-dev, libgz-rendering9-core-dev, libgz-rendering10-core-dev
Replaces: libgz-rendering6-core-dev, libgz-rendering8-core-dev, libgz-rendering9-core-dev, libgz-rendering10-core-dev
Multi-Arch: same
Description: Gazebo Rendering classes and functions - Core development files
  Gazebo rendering is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Core development files

Package: libgz-rendering-ogre1-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake-dev,
         libgz-common-events-dev,
         libgz-common-geospatial-dev,
         libgz-common-graphics-dev,
         libgz-math-dev,
         libgz-math-eigen3-dev,
         libogre-1.9-dev,
         libgz-plugin-dev,
         libgz-rendering-core-dev (= ${binary:Version}),
         libgz-rendering-ogre1 (= ${binary:Version}),
         ${misc:Depends}
Provides: libgz-rendering-ogre1-dev-generic
Conflicts: libgz-rendering-ogre1-dev-generic, libgz-rendering6-ogre1-dev, libgz-rendering8-ogre1-dev, libgz-rendering9-ogre1-dev, libgz-rendering10-ogre1-dev
Replaces: libgz-rendering6-ogre1-dev, libgz-rendering8-ogre1-dev, libgz-rendering9-ogre1-dev, libgz-rendering10-ogre1-dev
Multi-Arch: same
Description: Gazebo Rendering classes and functions for robot apps - Ogre1 dev files
 Gazebo Rendering is a C++ library designed to provide an abstraction for
 different rendering engines. It offers unified APIs for creating 3D graphics
 applications.  Gazebo Rendering is a component in the Gazebo framework, a
 set of libraries designed to rapidly develop robot applications.
 .
 Ogre1 component development files

Package: libgz-rendering-ogre1
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libgz-rendering-ogre1-generic
Conflicts: libgz-rendering-ogre1-generic, libgz-rendering6-ogre1, libgz-rendering8-ogre1, libgz-rendering9-ogre1, libgz-rendering10-ogre1
Replaces: libgz-rendering6-ogre1, libgz-rendering8-ogre1, libgz-rendering9-ogre1, libgz-rendering10-ogre1
Multi-Arch: same
Description: Gazebo Rendering classes and functions for robot apps - Ogre1 lib
 Gazebo Rendering is a C++ library designed to provide an abstraction for
 different rendering engines. It offers unified APIs for creating 3D graphics
 applications.  Gazebo Rendering is a component in the Gazebo framework, a
 set of libraries designed to rapidly develop robot applications.
 .
 Ogre1 component shared library

Package: libgz-rendering-ogre2-dev
Architecture: any
Section: libdevel
Depends: libgz-cmake-dev,
         libgz-common-events-dev,
         libgz-common-geospatial-dev,
         libgz-common-graphics-dev,
         libgz-math-dev,
         libgz-math-eigen3-dev,
         libogre-next-2.3-dev,
         libvulkan-dev,
         libgz-plugin-dev,
         libgz-rendering-core-dev (= ${binary:Version}),
         libgz-rendering-ogre2 (= ${binary:Version}),
         ${misc:Depends}
Provides: libgz-rendering-ogre2-dev-generic
Conflicts: libgz-rendering-ogre2-dev-generic, libgz-rendering6-ogre2-dev, libgz-rendering8-ogre2-dev, libgz-rendering9-ogre2-dev, libgz-rendering10-ogre2-dev
Replaces: libgz-rendering6-ogre2-dev, libgz-rendering8-ogre2-dev, libgz-rendering9-ogre2-dev, libgz-rendering10-ogre2-dev
Multi-Arch: same
Description: Gazebo Rendering classes and functions for robot apps - Development files
 Gazebo Rendering is a C++ library designed to provide an abstraction for
 different rendering engines. It offers unified APIs for creating 3D graphics
 applications.  Gazebo Rendering is a component in the Gazebo framework, a
 set of libraries designed to rapidly develop robot applications.
 Gazebo Rendering is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Ogre2 component development files

Package: libgz-rendering-ogre2
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libgz-rendering-ogre2-generic
Conflicts: libgz-rendering-ogre2-generic, libgz-rendering6-ogre2, libgz-rendering8-ogre2, libgz-rendering9-ogre2, libgz-rendering10-ogre2
Replaces: libgz-rendering6-ogre2, libgz-rendering8-ogre2, libgz-rendering9-ogre2, libgz-rendering10-ogre2
Multi-Arch: same
Description: Gazebo Rendering classes and functions for robot apps - Development files
 Gazebo Rendering is a C++ library designed to provide an abstraction for
 different rendering engines. It offers unified APIs for creating 3D graphics
 applications.  Gazebo Rendering is a component in the Gazebo framework, a
 set of libraries designed to rapidly develop robot applications.
 Gazebo Rendering is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Ogre2 component shared library

Package: libgz-rendering-dev
Architecture: any
Section: libdevel
Depends: libgz-rendering-core-dev (= ${binary:Version}),
         libgz-rendering-ogre1-dev (= ${binary:Version}),
         libgz-rendering-ogre2-dev (= ${binary:Version}),
         libgz-rendering (= ${binary:Version}),
         ${misc:Depends}
Provides: libgz-rendering-dev-generic
Conflicts: libgz-rendering-dev-generic, libgz-rendering6-dev, libgz-rendering8-dev, libgz-rendering9-dev, libgz-rendering10-dev
Replaces: libgz-rendering6-dev, libgz-rendering8-dev, libgz-rendering9-dev, libgz-rendering10-dev
Multi-Arch: same
Description: Gazebo Rendering classes and functions for robot apps - Metapackage
 Gazebo Rendering is a C++ library designed to provide an abstraction for
 different rendering engines. It offers unified APIs for creating 3D graphics
 applications.  Gazebo Rendering is a component in the Gazebo framework, a
 set of libraries designed to rapidly develop robot applications.
 Gazebo Rendering is a component in the Gazebo framework, a set of libraries
 designed to rapidly develop robot applications.
 .
 Metapackage for development files

Package: gz-rotary-rendering
Depends: libgz-rendering-dev (= ${binary:Version}), ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Rotary without exposing the version number.

Package: gz-rotary-rendering-core
Depends: libgz-rendering-core-dev (= ${binary:Version}), ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Rotary without exposing the version number.

Package: gz-rotary-rendering-ogre1
Depends: libgz-rendering-ogre1-dev (= ${binary:Version}), ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Rotary without exposing the version number.

Package: gz-rotary-rendering-ogre2
Depends: libgz-rendering-ogre2-dev (= ${binary:Version}), ${misc:Depends}
Architecture: all
Priority: optional
Section: metapackages
Description: alias package
 Provides a package for Rotary without exposing the version number.
